@media screen and (min-width: 700px){
    #button-box { display: inline; margin: 30px;}
}

body {
    text-align: center;
}

#main-container {
    margin: 0;
    max-width: 700px;
    position: relative;
    background: white;
    padding: 10px;
    display: inline-block;
}

a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #ffffff;
    font-size: 24px;
    background: #3498db;
    padding: 30px;
    text-decoration: none;
}

a:hover {
    background: #3cb0fd;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1140px){
    #gotohome {
        position: fixed;
        top: 30px;
        left: 20px;
    }
}

@media screen and (max-width: 1139px){
    #gotohome {
        visibility: hidden;
    }
}
