<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="">
        <title>Приклечение кота</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <script type="text/javascript" src="/static/main.js" charset="utf-8"></script>
    </head>
<body>
<div id="main-container">
    <h1>Приклечение кота</h1>
    <h2 id="lvl-name">Пожалуйста, подождите</h2>
    <div id="main-text"></div>
    <div id="button-box"></div>
</div>
</body>
</html>
